{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": true
        }
      }
    ]
  ],
  "plugins": [
    [
      "babel-plugin-inline-import",
      {
        "extensions": [".gql", ".graphql"]
      }
    ]
  ]
}
